@model MovieTheater.MovieView

@{
    ViewBag.Title = "MovieDetails";
}


@section FullWidth {
    <div class="TicketThumbnail__img">
        <img src="~/Images/FastX/Fast-X-7.png" />

        <div class="TicketThumbnail">

            <div class="TicketThumbnail__Text">
                <div style="font-family: Impact, Charcoal, sans-serif;font-size:70px;color:white;">
                    @Model.movie.Name
                </div>
                <button type="button" class="TicketsButton">
                    <span class="TicketsButton__text" onclick="window.location.href='@Url.Action("BuyTickets", new { id = Model.movie.MovieID })'">
                        Get Tickets
                    </span>
                    <span class="TicketsButton__icon">
                        <img src="~/Images/ticket.png" />
                    </span>
                </button>
            </div>
        </div>

    </div>
}



<div class="container">

</div>


<p>
    @Html.ActionLink("Edit", "EditMovie", new { id = Model.movie.MovieID }) |
    @Html.ActionLink("Back to List", "ListMovies")
</p>
